* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #191919d4;
  color: #e0e0e0;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.index-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 7rem;
  flex: 1;
}

/* Cabecera */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 1rem 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo {
  height: 3rem;
  width: auto;
}

/* Buscador */
.search-bar {
  flex: 1;
  max-width: 35%;
  display: flex;
  margin: 0 2vh;
}

.search-bar input[type='text'] {
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #222;
  color: white;
}

.search-bar button {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border: none;
  background-color: #6a0dad;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar .right-button {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.search-bar .left-button {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.search-bar button:hover {
  background-color: #5800a1;
}

.search-result-banner {
  background-color: #333;
  padding: 1rem 2rem;
  margin: 7rem auto -4.5rem auto;
  color: white;
  width: 65%;
  border-radius: 0.5rem;
  font-size: 1rem;
}


/* Usuario */
.user-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  font-size: 1.5rem;
}

.username {
  font-weight: 700;
  margin-right: 2em;
}

.btn {
  text-decoration: none;
  font-size: 1.7rem;
}

.login {
  color: white;
}

/* Películas */
.movies-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.movie {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 auto;
  width: 65%;
}

.movie h2 {
  text-align: left;
  color: #e0e0e0;
  font-size: 1.8rem;
}

.movie p {
  font-size: 1rem;
  line-height: 1.6;
}

.movie img {
  width: 100%;
  max-width: 14rem;
  height: auto;
  border-radius: 0.5rem;
  align-self: center;
}

.movie-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.movie .sinopsis {
  text-align: justify;
}

/* CRUD de peliculas*/
.ctrl-movies {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em 1.2em;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  width: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ctrl-movies .btn-movies {
  padding: 0.5rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.4em;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btn-updt {
  background-color: #008b8b;
}

.btn-updt:hover {
  background-color: #006b6b;
}

.btn-del {
  background-color: #cc0000;
}

.btn-del:hover {
  background-color: #990000;
}

.btn-add {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border: none;
  background-color: #6a0dad;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add:hover {
  background-color: #5800a1;
}

/* login */
.form-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  gap: 1rem;
  border-radius: 1rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-card h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #ffffff;
}

.form-card input[type="text"],
.form-card input[type="password"] {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.5rem;
  background-color: #222;
  color: white;
}

.form-card button.btn {
  width: 100%;
  padding: 0.8rem;
  margin-top: 0.5rem;
  background-color: #6a0dad;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-card button.btn:hover {
  background-color: #5800a1;
}

.form-card .hidden {
  display: none;
}

/* Botón swap */
.swap-link,
.back-link {
  margin-top: 1rem;
  display: inline-block;
  color: #7dff00;
  font-size: 1rem;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.back-link {
  margin-left: auto;
}

.swap-link:hover,
.back-link:hover {
  color: #58c900;
  text-decoration: underline;
}

/* Mensaje de error */
.error-message {
  background-color: rgba(255, 0, 0, 0.2);
  color: #ff8080;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/*formularios de CRUD*/
.movie-form {
  max-width: 35rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}

.movie-form h1,
h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #ffffff;
}

.movie-form input[type="text"],
.movie-form input[type="number"],
.movie-form textarea,
.movie-form select {
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: #1f1f1f;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
  margin: 0.5rem 0.3rem 2rem 0.3rem;
  font-family: Arial, Helvetica, sans-serif !important;
}

.movie-form textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}

.movie-form select {
  height: auto;
  font-size: 1rem;
  overflow-x: scroll;
}

.movie-form select option {
  padding: 0.3rem;
}

.movie-form label {
  font-size: 0.9rem;
  color: #ccc;
  text-align: left;
  margin-left: 0.4rem;
}

.movie-form button.btn {
  margin: 0 auto;
  display: block;
  width: 40%;
  padding: 0.8rem;
  background-color: #6a0dad;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.movie-form button.btn:hover {
  background-color: #5800a1;
}

.imagen-wrapper {
  display: flex;
}

.image-preview-container {
  margin: 1rem 0 2rem 0;
  padding: 1rem;
  background-color: #1f1f1f;
  border: 1px solid #333;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-preview-container h3 {
  font-size: 1.1rem;
  color: #A8FF66;
  margin-bottom: 1rem;
  font-weight: bold;
}

.movie-cover-preview {
  width: 100%;
  max-width: 14rem;
  height: auto;
  object-fit: cover;
  border-radius: 0.4rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.movie-cover-preview:hover {
  transform: scale(1.03);
}

.custom-file-label {
  background-color: #6a0dad;
  color: white;
  padding: 0.7rem 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
  display: flex;
  transition: background-color 0.3s ease;
  margin: 0.5rem 0 2rem 0;
  font-size: 1rem;
}

.custom-file-label:hover {
  background-color: #5800a1;
}

.custom-file-input {
  display: none;
}

#nombreImagen {
  flex: 1;
  margin: 0.5rem 0 2rem 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* Marcas de las busquedas*/
.highlight {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  font-weight: bold;
  border-radius: 3px;
}

/* Página de error*/
.error-image {
  width: auto;
  height: 17rem;
  border-radius: 5px;
}

.error-card {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  gap: 1rem;
  border-radius: 1rem;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Pie de página*/
footer {
  margin-top: 5em;
  margin-bottom: 0;
}

.site-footer {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 40px 20px 20px;
  font-size: 14px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
}

.footer-column {
  flex: 1;
  min-width: 20rem;
}

.logo-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  max-width: 12rem;
  height: auto;
}

.footer-column h3 {
  margin-bottom: 1rem;
  color: #A8FF66;
  font-weight: bold;
}

.footer-column a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-column p,
.footer-column ul {
  margin: 0;
  padding: 0;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column p {
  text-align: justify;
}

.footer-bottom {
  border-top: 1px solid #444;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  color: #aaa;
}